div.border {
    border-top: 10px solid red;
    border-right: 10px solid red;
    border-bottom: 10px solid blue;
    border-left: 10px solid blue;
    position: relative;
}

div.border:before {
    position: absolute;
    content: '';
    border-top: 10px solid blue;
    border-right: 10px solid blue;
    border-bottom: 10px solid red;
    border-left: 10px solid red;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}